<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anthonyprom.tiptools">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/toolsicon"
        android:label="Tools for IP"
        android:roundIcon="@mipmap/toolsicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IPCalculator"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".Ping"
            android:label="@string/title_activity_ping"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Info"
            android:label="Tools for IP"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Device_Finder"
            android:label="@string/title_activity_device__finder"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>